include mixins 
div.menu__conainer  
  a(href="#")
    img(height="auto" width="220px" src="images/logo.svg" alt="Logotipo de Bienes Raices")
  nav.navbar
    +navbar('#','Nosotros')
    +navbar('#','Anuncios')
    +navbar('#','Blog')
    +navbar('#','Contacto')